{% extends "base.html" %}
{% load humanize %}

{% block content %}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Wishlist</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'store' %}">Shop</a></li>
                    <li class="breadcrumb-item active">Wishlist</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Wishlist  -->
<div class="wishlist-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Unit Price </th>
                                <th>Stock</th>
                                <th>Add Item</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items_wishlist_cp %}
                            <tr>
                                <td class="thumbnail-img">
                                    <a href="#">
                                        <img class="img-fluid" src="{{ item.product.imageURL }}" alt="" />
                                    </a>
                                </td>
                                <td class="name-pr">
                                    <a href="#">
                                        {{ item.product.name }}
                                    </a>
                                </td>
                                <td class="price">
                                    <p>&#8377; {{ item.product.price | floatformat:1 | intcomma }} - ({{ item.product.discount }})</p>
                                </td>
                                <td class="quantity-box">In Stock</td>
                                <td class="add-pr">
                                    <a class="btn hvr-hover update-cart" data-product="{{ item.product.id }}"
                                    data-action="add" href="#">Add to Cart</a>
                                </td>
                                <td class="remove-pr">
                                    <a href="#" class="update-wishlist" data-product="{{ item.product.id }}" data-action="delete">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <td>
                                <p>YOUR WISHLIST IS EMPTY ------- <a href="{% url 'store' %}">Click here to Shop</a></p>
                            </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wishlist -->
{% endblock %}