<!-- This File Contains Footer Code As well as instagram FeedBack -->

{% load static %}


<!-- Start Footer  -->
<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Business Time</h3>
                        <ul class="list-time">
                            <li>Monday - Friday: 08.00am to 05.00pm</li>
                            <li>Saturday: 10.00am to 08.00pm</li>
                            <li>Sunday: <span>Closed</span></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-12 col-sm-12">
                   
                </div> -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Social Media</h3>
                        <p>Join With us On.</p>
                        <ul>
                            <li><a href="https://www.facebook.com"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/?lang=en-in"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://in.linkedin.com"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.google.co.in"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>About Freshshop</h4>
                        <p>Our Project is to sell Agricultural products as well as farming tools in the best price suitable for customers.</p>
                        <p>Purchase here and get good quality products with fastest delivery possible.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'store' %}">Shop</a></li>
                            <li><a href="{% url 'gallery' %}">Our Gallery</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            <li><a href="{% url 'my-account' %}">My Account</a></li>
                            <li><a href="{% url 'order-history' %}">Delivery Information</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: G14. GIDC Phase-2  <br>
                                    Kachigam Street Chala,<br> Vadodara, Gujarat.<br> Pin Code: 390002 </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+91 - 900 800 100</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a
                                        href="mailto:contactinfo@gmail.com">help.efarm.sys@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer  -->

